<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="WatchPath" xdt:Transform="Replace" xdt:Locator="Match(key)" value="\\SG-EXP-APP01P\Return Feed\GMD_Landing_Area_UAT\"/>
    <add key="DestinationPath" xdt:Transform="Replace" xdt:Locator="Match(key)" value="\\SG-EXP-APP01P\Return Feed\GMD_Received_Area_UAT\"/>
    <add key="GMD_DWH_Connection" xdt:Transform="Replace" xdt:Locator="Match(key)" value="Provider=SQLOLEDB;Data Source=gmdsqluat01;Initial Catalog=GMD_DWH;Integrated Security=SSPI"/>
    <add key="GMD_DWH_LandingTable" xdt:Transform="Replace" xdt:Locator="Match(key)" value="Landing.Feed_Processing_Queue"/>
    <add key="Customer_Product_Management_Connection" xdt:Transform="Replace" xdt:Locator="Match(key)" value="Provider=SQLOLEDB;Data Source=gmdsqluat01;Initial Catalog=Customer_Product_Management;Integrated Security=SSPI"/>
    <add key="Customer_Product_Management_LandingTable" xdt:Transform="Replace" xdt:Locator="Match(key)" value="landing.processing_queue"/>
    <add key="Campaign_Data_Management_Connection" xdt:Transform="Replace" xdt:Locator="Match(key)" value="Provider=SQLOLEDB;Data Source=gmdsqluat01;Initial Catalog=Campaign_Data_Management;Integrated Security=SSPI"/>
    <add key="Campaign_Data_Management_LandingTable" xdt:Transform="Replace" xdt:Locator="Match(key)" value="Landing.Feed_Processing_Queue"/>
    <add key="Membership_Core_Management_Connection" xdt:Transform="Replace" xdt:Locator="Match(key)" value="Provider=SQLOLEDB;Data Source=gmdsqluat01;Initial Catalog=Membership_Core_Management;Integrated Security=SSPI"/>
    <add key="Membership_Core_Management_LandingTable" xdt:Transform="Replace" xdt:Locator="Match(key)" value="Landing.Feed_Processing_Queue"/>
    <add key="Publication_Data_Management_Connection" xdt:Transform="Replace" xdt:Locator="Match(key)" value="Provider=SQLOLEDB;Data Source=gmdsqluat01;Initial Catalog=Publication_Data_Management;Integrated Security=SSPI"/>
    <add key="Publication_Data_Management_LandingTable" xdt:Transform="Replace" xdt:Locator="Match(key)" value="Landing.Feed_Processing_Queue"/>

    <!-- To add file types to the lists, please separate values with a semicolon ; -->
    <add key="GMD_DWH_FileTypes" xdt:Transform="Replace" xdt:Locator="Match(key)" value="sagbounceexport;sagbouncemessagecentreexport;sagdeletedrecipients;sagdelivery;sagdeliverylog;sagtrackinglog"/>
    <add key="Customer_Product_Management_FileTypes" xdt:Transform="Replace" xdt:Locator="Match(key)" value=""/>
    <add key="Campaign_Data_Management_FileTypes" xdt:Transform="Replace" xdt:Locator="Match(key)" value=""/>
    <add key="Membership_Core_Management_FileTypes" xdt:Transform="Replace" xdt:Locator="Match(key)" value=""/>
    <add key="Publication_Data_Management_FileTypes" xdt:Transform="Replace" xdt:Locator="Match(key)"  value=""/>

    <!--UAT-->
    <add key="WindowLoginUserId" xdt:Transform="Replace" xdt:Locator="Match(key)"  value="SAGANTGB\svc-gmdapp-tst" />
    <add key="WindowLoginUserIdPassword" xdt:Transform="Replace" xdt:Locator="Match(key)" value="C1aUSwV!gwup"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>